<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <%= f.label :nickname %><span class="optional-text"> (optional)</span>
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :images %><span class="optional-text"> (optional)</span>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
