<% @posts.each do |post| %>
  
<div class="container">
  <div class="row" id="post-<%= post.id %>">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="thumbnail">
        <div class="caption important-select">
          <span class="fa fa-hourglass-half"></span>
          <%= render partial: 'timer', locals: {post: post} %>
          <span class="pull-right">

            <% if post.created_at > Time.now.beginning_of_day %>
                <%="#{time_ago_in_words(post.created_at)} ago"%> 
            <% else %>
                <%= post.created_at.strftime("%b %d, %Y") %> 
            <% end %>

            <%= render 'report', post: post %>

          </span>
          <h4>
             <%= post.nickname %>
          </h4>
           
          <% if post.images.count == 0 %>
            <div id="no-image" data-image="none">
            </div>
          <% else %>
            <% post.images.each do |image| %>
            
                <%= image_tag image %>
              
            <% end %>
          <% end %>
          <p style="font-size: 150%;"><%= post.content %></p>
          <i class="fa fa-globe" aria-hidden="true"></i>
          <%= post.location %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <div class="pull-right btn-group" data-toggle="buttons">

            <% if current_user != nil %>

              <% if current_user.liked? post %>
                <%= render 'unlike_link', post: post %>
              <% else %>
                <%= render 'like_link', post: post %>
              <% end %>
            
            <% end %>

            <button class="btn btn-primary btn-md" role="button" data-toggle="collapse" href="#collapseExample<%= post.id %>" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-comments" aria-hidden="true"></i>
              Replies <span class="badge"><%= post.comments.count %></span>
            </button>

            <button class="btn btn-primary btn-md" onclick="window.location.href='/posts/<%= post.id %>/comments/new'"><i class="fa fa-plus" aria-hidden="true"></i>
            </button>



          </div>

          <br>
          <br>
          <br>

          <div class="collapse" id="collapseExample<%= post.id %>">
            <div class="well">
              <% post.comments.each do |comment| %>
                  
                  <span class="pull-right">

                    <% if comment.created_at > Time.now.beginning_of_day %>
                        <%="#{time_ago_in_words(comment.created_at)} ago"%> 
                    <% else %>
                        <%= comment.created_at.strftime("%b %d, %Y") %> 
                    <% end %>
                    
                   <button onclick="window.location.href='#'" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="left" title="Report"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                  </button>

                 </span>
                     <h4>
                    <%= comment.nickname %>
                  </h4>
                 <p style="font-size: 130%;">
                  <%= comment.content %>
                  </p>
                  <div class="text-center">
                      <hr class="hr-comment text-center" >
                  </div>
                
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end row  --> 
</div> <!-- end container -->

<% end %>


















