<% @posts.each do |post| %>
  
        <div class="container">

        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="thumbnail">
              
              <div class="caption important-select">

                <span class="fa fa-hourglass-half"></span>
                  
                <span class="timer-container" data-date="<%= post.created_at.next_day %>">
                </span>
                <span class="pull-right">
                      <% if post.created_at > Time.now.beginning_of_day %>
                          <%="#{time_ago_in_words(post.created_at)} ago"%> 
                      <% else %>
                          <%= post.created_at.strftime("%b %d, %Y") %> 
                      <% end %>
                </span>
                <p>
                  <%= post.nickname %>
                </p>

                    <% if post.images.count == 0 %>
                      <div id="no-image" data-image="none">
                        
                      </div>
                    <% else %>
                    
                      <% post.images.each do |image| %>
                          
                        <%= image_tag image %>
                          
                      <% end %>
                    
                    <% end %>
                
                <p style="font-size: 150%;">
                  <%= post.content %>
                </p>
                
                <i class="fa fa-globe" aria-hidden="true"></i>
                <%= post.location %>

                <%= post.id %>

              <button class="pull-right btn btn-default" role="button" data-toggle="collapse" href="#collapseExample<%= post.id %>" aria-expanded="false" aria-controls="collapseExample">
                Replies
              </button>

              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>

              <button class="pull-right btn btn-default"> Kepos </button>
              
              <br>
              <br>
              
              <div class="collapse" id="collapseExample<%= post.id %>">
                <div class="well">
                  <% post.comments.each do |comment| %>
                     <p style="font-size: 150%;"><%= comment.nickname %></p>
                     <%= comment.content %>
                     <%= link_to 'Destroy', [comment.post, comment], :confirm => 'Are you sure?', :method => :delete %>
                  <% end %>
                </div>
              </div>

              </div>
            </div>
          </div>
        </div> <!-- end row  --> 
      </div> <!-- end container -->

<% end %>


















