<% @posts.each do |post| %>

        <div class="container">

        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="thumbnail">
              
              <div class="caption important-select">

                <span class="fa fa-hourglass-half"></span>
                  
                <span class="timer-container" data-date="<%= post.created_at.next_day %>">
                </span>
                <p>
                  <%= post.nickname %>
                </p>

                    <% if post.images.count == 0 %>
                      <div id="no-image" data-image="none">
                        
                      </div>
                    <% else %>
                    
                      <% post.images.each do |image| %>
                          
                        <%= image_tag image %>
                          
                      <% end %>
                    
                    <% end %>
                
                <p>
                  <%= post.content %>
                </p>
                
                <i class="fa fa-globe" aria-hidden="true"></i>
                <%= post.location %>
         
              <button class="pull-right btn btn-default" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Replies
              </button>

              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>

              <button class="pull-right btn btn-default"> Kepos </button>
              
              <br>
              <br>

              <div class="collapse" id="collapseExample">
                <div class="well">
                  ...
                </div>
              </div>

              </div>
            </div>
          </div>
        </div> <!-- end row  --> 
      </div> <!-- end container -->

<% end %>


















