<p>

<% if @post.created_at.next_day != nil %>

<!-- Timer -->
  <div id="timer-container" data-date="<%= @post.created_at.next_day %>">
  </div>
<!-- Post created time ago -->
  <p>
    <% if @post.created_at > Time.now.beginning_of_day %>
        <%="#{time_ago_in_words(@post.created_at)} ago"%> 
    <% else %>
        <%= @post.created_at.strftime("%b %d, %Y") %> 
    <% end %>
  </p>

  <p>
    <strong>ID:</strong>
    <%= @post.id %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= @post.nickname %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @post.location %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @post.content %>
  </p>

  <p>
    <strong>Images:</strong>
    <% if @post.images.count == 0 %>
      <div id="no-image" data-image="none">
        <p>No Image</p>
      </div>
    <% else %>
      <% @post.images.each do |image| %>
      	<%= image_tag image %>
      <% end %>
    <% end %>
  </p>

<% end %>

</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
