<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPZAGV0ZpCAmFemwHhVK4DN3czkNncpBw" async defer></script>

</head>
<body>

      <div class="page-wrap">

      <!-- Nav -->
      <nav id="nav">
        <ul>

          <li><a class="navbar-brand" href="<%= root_path %>">
            <span id="brand-icon">
              <%= image_tag "kepo_icon_round_edge.png" %>
            </span>
              </a></li>
              
              <li><br></li>
              <li><br></li>

          <li><a href="<%= posts_path %>" data-toggle="tooltip" data-placement="left" title="Home"><span class="icon fa-home icon-color"></span></a></li>

          <li><a id="clickme" data-toggle="modal" data-target="#myMap" data-placement="left" title="Map"><span class="icon fa-globe icon-color"></span></a></li>

          <li><a href="<%= about_path %>" data-toggle="tooltip" data-placement="left" title="About us"><i class="fa fa-users icon-color" aria-hidden="true"></i></li>

          <% if signed_in? -%>

          <li><a href="<%= new_post_path %>" data-toggle="tooltip" data-placement="left" title="Create Kepo"><span class="icon fa fa-pencil-square icon-color"></span></a></li>
          
          <li><a data-toggle="tooltip" data-placement="left" title="Sign Out, already? don't go lah." rel="nofollow" data-method="delete" href="/sign_out"><i class="icon fa fa-sign-out icon-color" aria-hidden="true"></i></a></li>
          
          <% else -%>
            <!-- sign up link and icon -->
          <li>
              <a href="<%= sign_up_path %>" data-toggle="tooltip" data-placement="left" title="Sign Up!" >
                <span>
                  <i class="icon fa fa-user-plus icon-color" aria-hidden="true"></i>
                </span>
              </a>
          </li> 
            <!-- login link and icon -->
          <li>
              <a href="<%= sign_in_path %>" data-toggle="tooltip" data-placement="left" title="Sign In">
                <span>
                  <i class="icon fa fa-sign-in icon-color" aria-hidden="true"></i>
                </span>
              </a>
          </li>

          <% end -%>
          
        </nav>

      <!-- Main -->
      <section id="main">

            <div style="position: fixed;
                        z-index: 10000;
                        top: 27px;
                        left: 75px;
                        ">
            <div id="flash">
              <% flash.each do |key, value| -%>
             
                <div  style="background-color: #bc67fc; color: white; font-family: 'Fredoka One', cursive; opacity: 0.8;" class="alert alert-info" role="alert" id="flash_<%= key %>">Hey, <%=h value %></div>

              <% end %>
            </div>

        </div>

      <!-- container for map modal -->
      <div class="container">
          <!-- Modal -->
            <div class="modal fade" id="myMap" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <a type="button" class="close" data-dismiss="modal">&times;</a>
                    <h4 class="modal-title">TOP SECRET!</h4>
                  </div>

                  <div class="modal-body">
                      <div id="map"></div>
                      <div id="lat"></div>
                        <div id="long"></div>
                  </div> 

                  <div class="modal-footer">
                    <button type="button" class="button background-color-change" id="initMap">Refresh Map</button>
                    <button type="button" class="button" data-dismiss="modal">Close</button>
                  </div>
                  
                </div>
                
              </div>
            </div>  
      </div>

            <%= yield %>
            <!-- <h2 class="text-center">What's New</h2> -->

      <!--   <script src="js/jquery.js"></script> -->
        <script>
        
              function success(position){
                var mylat = position.coords.latitude;
                var mylong = position.coords.longitude;

                // console.log("lat = " + mylat)
                // console.log("long = " + mylong)

                // document.getElementById("container").innerHTML = "Latitude: " + position.coords.latitude +
                //                    "<br>Longitude: " + position.coords.longitude;

                var coords = new google.maps.LatLng(mylat, mylong);

                var mapOptions = {
                  zoom: 11,
                  center: coords,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);

                var marker = new google.maps.Marker({map: map, position: coords});

                var circle = new google.maps.Circle({map: map,
                  radius: 10000,    
                  fillColor: '#bc67fc'
                });
                circle.bindTo('center', marker, 'position');
              }

              function failure(){
                $('body').append("<p>It didn't work, co-ordinates are not available!</p>")
              }

              x = navigator.geolocation;
              // x.getCurrentPosition(success, failure);

            </script>

            <script type="text/javascript">

                $( "#initMap" ).on( "click", function() {
                  x.getCurrentPosition(success, failure);
                });

                $(" #clickme").on("click", function(){
                  
                  setTimeout(function(){ 
                    document.getElementById("initMap").click();
  
                  }, 126);
               
                });
            </script>

       <!-- Footer -->
 <!--            <footer id="footer" style="z-index: 50;">
              <div class="copyright">
                &copy; 2017 Kepo, Inc.
              </div>
            </footer>
 -->
      </section>
    </div> 

<!--     <script type="text/javascript">
      
      $('body').scrollspy({ target: '#contact' });

    </script>
 -->

  <script type="text/javascript">

     var explode = function(){
        $(".alert-info").fadeOut();
      };
      setTimeout(explode, 3000);


    </script>
  

</body>
</html>
