<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>

 <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPZAGV0ZpCAmFemwHhVK4DN3czkNncpBw" async defer></script>
 
</head>
<body>

      <div class="page-wrap">

      <!-- Nav -->
      <nav id="nav">
        <ul>

          <li><a class="navbar-brand" href="#">
            <span id="brand-icon">
              <%= image_tag "icon.png" %>
            </span>
              </a></li>
              
              <li><br></li>
              <li><br></li>

          <li><a href="<%= root_path %>" data-toggle="tooltip" data-placement="left" title="Home"><span class="icon fa-home"></span></a></li>

          <li><a id="clickme" data-toggle="modal" data-target="#myMap" data-placement="left" title="Map"><span class="icon fa-globe icon-color"></span></a></li>
       
          <% if signed_in? -%>

          <li><a href="<%= new_post_path %>" data-toggle="tooltip" data-placement="left" title="create post"><span class="icon fa fa-pencil-square icon-color"></span></a></li>
  
          <% else -%>
            <!-- sign up link and icon -->
          <li>
              <a href="<%= sign_up_path %>" data-toggle="tooltip" data-placement="left" title="Sign up!" >
                <span>
                  <i class="icon fa fa-user-plus icon-color" aria-hidden="true"></i>
                </span>
              </a>
          </li> 
            <!-- login link and icon -->
          <li>
              <a href="<%= sign_in_path %>" data-toggle="tooltip" data-placement="left" title="Sign In">
                <span>
                  <i class="icon fa fa-sign-in icon-color" aria-hidden="true"></i>
                </span>
              </a>
          </li>

          <% end -%>


          <% if signed_in? -%>
            <!-- logout link and icon -->
            <li data-toggle="tooltip" data-placement="left" title="Document">
              <span class="text-right"><%= link_to t(".sign_out"), sign_out_path, method: :delete %></span>
            </li>
          <% end -%>
          </ul>

          
        </nav>

      <!-- Main -->
      <section id="main">

      <!-- container for map modal -->
      <div class="container">
          <!-- Modal -->
            <div class="modal fade" id="myMap" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <a type="button" class="close" data-dismiss="modal">&times;</a>
                    <h4 class="modal-title">Modal Header</h4>
                  </div>

                  <div class="modal-body">
                      <div id="map"></div>
                      <div id="lat"></div>
                        <div id="long"></div>
                  </div> 

                  <div class="modal-footer">
                    <button type="button" class="button background-color-change" id="initMap">Refresh Map</button>
                    <button type="button" class="button" data-dismiss="modal">Close</button>
                  </div>
                  
                </div>
                
              </div>
            </div>  
      </div>

<!--           <div class="container">
              <div class="row">
                <div class="col-sm-12">
                <p id="for-fun" class="text-center"><i style="font-size:24px" class="fa">&#xf103;</i></p>
                </div>
              </div>
               </div> -->
    
            <%= yield %>
       
            <div id="flash">
              <% flash.each do |key, value| -%>
                <div id="flash_<%= key %>"><%=h value %></div>
              <% end %>
            </div>

            <h2 class="text-center">What's New</h2>

          <!-- Contact -->
            <section id="contact">
              <!-- Social -->
                <div class="social column">
                  <h3>About Us</h3>
                  <p>Mus sed interdum nunc dictum rutrum scelerisque erat a parturient condimentum potenti dapibus vestibulum condimentum per tristique porta. Torquent a ut consectetur a vel ullamcorper a commodo a mattis ipsum class quam sed eros vestibulum quisque a eu nulla scelerisque a elementum vestibulum.</p>
                  <p>Aliquet dolor ultricies sem rhoncus dolor ullamcorper pharetra dis condimentum ullamcorper rutrum vehicula id nisi vel aptent orci litora hendrerit penatibus erat ad sit. In a semper velit eleifend a viverra adipiscing a phasellus urna praesent parturient integer ultrices montes parturient suscipit posuere quis aenean. Parturient euismod ultricies commodo arcu elementum suspendisse id dictumst at ut vestibulum conubia quisque a himenaeos dictum proin dis purus integer mollis parturient eros scelerisque dis libero parturient magnis.</p>
                  <h3>Follow Us</h3>

                  <ul class="icons">
                    <li><a href="#" class="color-change icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="color-change icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="color-change icon fa-instagram"><span class="label">Instagram</span></a></li>
                  </ul>
                </div>

              <!-- Form -->
                <div class="column">
                  <h3>Get in Touch</h3>
                  <form action="#" method="post">
                    <div class="field half first">
                      <label for="name">Name</label>
                      <input class="" name="name" id="name" type="text" placeholder="Name">
                    </div>
                    <div class="field half">
                      <label for="email">Email</label>
                      <input name="email" id="email" type="email" placeholder="Email">
                    </div>
                    <div class="field">
                      <label for="message">Message</label>
                      <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                    </div>
                    <ul class="actions">
                      <li><input value="Send Message" class="button background-color-change" type="submit"></li>
                    </ul>
                  </form>
                </div>

            </section>



      <!--   <script src="js/jquery.js"></script> -->
        <script>
        
              function success(position){
                var mylat = position.coords.latitude;
                var mylong = position.coords.longitude;

                // console.log("lat = " + mylat)
                // console.log("long = " + mylong)

                // document.getElementById("container").innerHTML = "Latitude: " + position.coords.latitude +
                //                    "<br>Longitude: " + position.coords.longitude;

                var coords = new google.maps.LatLng(mylat, mylong);

                var mapOptions = {
                  zoom: 11,
                  center: coords,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                }

                var map = new google.maps.Map(document.getElementById("map"), mapOptions);

                var marker = new google.maps.Marker({map: map, position: coords});

                var circle = new google.maps.Circle({map: map,
                  radius: 10000,    
                  fillColor: '#bc67fc'
                });
                circle.bindTo('center', marker, 'position');
              }

              function failure(){
                $('body').append("<p>It didn't work, co-ordinates are not available!</p>")
              }

              x = navigator.geolocation;
              // x.getCurrentPosition(success, failure);

            </script>

            <script type="text/javascript">

                $( "#initMap" ).on( "click", function() {
                  x.getCurrentPosition(success, failure);
                });

                $(" #clickme").on("click", function(){
                  
                  setTimeout(function(){ 
                    document.getElementById("initMap").click();
  
                  }, 126);
               
                });
            </script>

          <!-- Footer -->
            <footer id="footer">
              <div class="copyright">
                &copy; Kepo
              </div>
            </footer>

      </section>
    </div> 


</body>
</html>
